
<h1 class="header">Classes</h1>
<table class= "table">
<thead>
  <tr>
   <th>Your Classes</th>
   <th>Schoolyear</th>
  </tr>
</thead>
<%@courses.each do |c| %>
   <tr>
   <td><%= c.name %></td>
   <td><%= c.schoolyear %></td>
  


 <td><%= link_to 'Roster', show_course_path(:course => c.id) %></td>

 <td><%#= link_to 'Delete Student', delete_courses_path(:course => c.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>

   </tr>
<% end %>
</table>
</div>

<div class="footer">
<%= link_to 'Add a Class', new_course_path %><br>
</div>



