// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table{
	padding: 0px 0px 0px 15px;
	margin: 20px auto;
}

.header{
	text-align: center;
}

.footer{
	padding: 0px 0px 30px 15px;
	font-size: 20px;
	color: red;
}

.photolink{
	padding: 0px 0px 0px 8px;
}