// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name{
	padding: 0px 0px 0px 10px;
}

.header3{
	padding: 0px 0px 0px 8px;
}

.assignments{
	padding: 0px 0px 0px 8px;
}

.field{
	padding: 0px 0px 0px 8px;
}

.actions{
	padding: 0px 5px 5px 8px;
}